image: rancher/drone-docker-image-digests:{{build.tag}}
manifests:
  -
    image: rancher/drone-docker-image-digests:{{build.tag}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: rancher/drone-docker-image-digests:{{build.tag}}-linux-arm64
    platform:
      architecture: arm64
      os: linux
  -
    image: rancher/drone-docker-image-digests:{{build.tag}}-windows-amd64-1809
    platform:
      architecture: amd64
      os: windows
      version: 1809
  -
    image: rancher/drone-docker-image-digests:{{build.tag}}-windows-amd64-2004
    platform:
      architecture: amd64
      os: windows
      version: 2004
  -
    image: rancher/drone-docker-image-digests:{{build.tag}}-windows-amd64-20H2
    platform:
      architecture: amd64
      os: windows
      version: 20H2
  -
    image: rancher/drone-docker-image-digests:{{build.tag}}-windows-amd64-ltsc2022
    platform:
      architecture: amd64
      os: windows
      version: ltsc2022
